<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="stylesheets/week09.css">
</head>

<body>
    <div id="result">
        The postage rate for a
        <%= mailType %> that weighs
            <%= weight %> ounces is <span id="price">$
                <%= postage %></span>
    </div>
    <a href="/getRate.html">Get new rate</a>
</body>

</html>